
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    font-size: 18px;
    line-height: 1.5;
}

ul{
    list-style: none;
}
.container{
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

/* Nav Section */

nav, header {
    background: #1F2937;
    color: #fff;
}

nav .container {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

nav ul{
    display: flex;
    gap: 10px;
    color:#E5E7EB;
}

nav h2{
    font-weight: bold;
}

nav .logo, .list{
    margin-top: 20px;
}

/* Header Section */ 
header{
    padding: 100px;
}

header .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header img {
    width: 100%;
    height: 300px;
}

header h2 {
    font-size: 48px;
    font-weight: 800;
    line-height: 1.2;
    color:#f9faf8;
}

header p {
    color:#E5E7EB;
    margin-bottom: 15px;
    margin-right: 40px;
}

header button{
    color: #fff;
    background: #3882f6;
    border: none;
    padding: 10px 30px;
    border-radius: 8px;
    font-weight: bold;
}

/* Hero */
.items{
    padding: 60px;
}

.items .container{
    display: flex;
}

.items h2 {
    text-align: center;
    margin-bottom: 50px;
    font-size: 36px;
    font-weight: 800;
    color: #1F2937;
}

.items p {
    color: #9b9b9b;
}

.items img {
    height: 250px;
    width: 250px;
    border: 4px solid #3882f6;
    border-radius: 10px;
    padding: 0px;
}


/* Quote */

.quote{
    padding: 150px;
    background: #e5e7eb;
}

.quote .container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 900px;
}

.quote em {
    font-size: 36px;
    color: #1f2937;
    font-weight: 300;
    margin-bottom: 15px;
}

.quote strong{
    display: flex;
    justify-content: flex-end;
    font-weight: 800;
    font-size: 25px;
}


/* Call to action */
.cta{
    padding: 120px;
    color: #fff;
}


.cta .container{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background: #3882f6;
    border-radius: 10px;
    padding: 50px 20px;
    width: 80%;
}

.cta h3 {
    font-weight: 800;
    font-size: 25px;
}

.cta p {
    font-size: 16px;
    color: #d9d9d9;
}

.cta button{
    color: #fff;
    background: #3882f6;
    padding: 10px 30px;
    border-radius: 8px;
    font-weight: 800;
    border: 2px solid #fff;
}

/* Footer */
footer{
    background: #1f2937;
    padding: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
}